header{
    display: flex; /* Ativa o flexbox */
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: space-between; /* Espaça os itens ao longo do header */
    width: 100%; /* O header ocupará toda a largura da tela */
    background-color: #333232; /* Cor de fundo */
    padding: 5px 10px; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui padding e border na largura total */
    border-radius: 4px; /*arredonda as bordas*/
    height: 7.5rem;
}
.logo{
    width: 130px;
    height: 120px;
    margin-right: 10px; /* Espaçamento entre a logo e o título */
}
.title{
    color: #ffd700;
    font-size: 25px;
    font-family:  'Raleway', sans-serif;
    margin: 0;
    text-align: left; 
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 0px;

}
nav {
    margin-left: auto; /* Empurra a navegação para a direita */
    display: flex;
}
nav ul{
    list-style: none; /* Remove os marcadores da lista */
    display: flex; /* Exibe os itens da lista em linha */
    gap: 20px; /* Espaçamento entre os itens */
    margin-right: 1rem;
}
nav a{
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative; /* Permite posicionar o pseudo-elemento */
    padding-bottom: 5px; /* Espaço para o sublinhado */
    transition: color 0.3s; /* Transição opcional para a cor do texto */
}

/*transição da ul ao passar o mouse em cima das li*/
  nav a:hover {
    color: #ffd700; /* Muda a cor do texto ao passar o mouse */
  }
  
  nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    height: 2px;
    background-color: #ffd700;
    transition: all 0.3s ease-in-out;
  }
  
  nav a:hover::after {
    left: 0;
    right: 0;
  }
  
 